.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .main-nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .main-nav a.router-link-exact-active {
    color: #42b983;
  }
  
  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;

    span {
      font-weight: bold;
      font-size: 18px;
    }

    span:hover {
      text-decoration: underline;
    }

    button {
      background: none;
      border: none;
      padding-left: 15px;
      font-weight: bold;
      font-size: 17px;
    }

    button:hover {
      text-decoration: underline;
    }

    i {
        padding-right: 5px;
    }
  }
