.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding-top: 10px;
    .copyright {
        p {
            font-size: 18px;
            font-weight: 500;
            color: #2c3e50;
        }
    }

}

