.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  .menu-icon { 
    display: none; cursor: pointer; 
  } 
  
  .menu-links { 
    display: flex; 
  }
  
  .main-nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .main-nav a.router-link-exact-active {
    color: #42b983;
  }
  
  .main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;

    span {
      font-weight: bold;
      font-size: 18px;
    }

    span:hover {
      text-decoration: underline;
    }

    button {
      background: none;
      border: none;
      padding-left: 15px;
      font-weight: bold;
      font-size: 17px;
    }

    button:hover {
      text-decoration: underline;
    }

    i {
        padding-right: 5px;
    }
  }

  @media (max-width: 768px) { 
    .menu-icon { 
      display: block; 
    } 
    
    .menu-links { 
      display: none; 
      width: 100%; 
      position: absolute;
      top: 50px;
      left: 0;
      background-color: white;
      z-index: 10;
    } 
    
    .menu-links.open { 
      display: flex;
    }
    
    .main-nav-item { 
      margin: 10px 10px; 
    } 
  }